body {
  text-align: center;
  margin: 0;
}
header {
  background-color: #F15B31;
  color: white;
  padding: 30px 20px;
}
main {
  width: 850px;
  margin: 35px auto;
}
h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  color: white;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 45px;
  text-transform: uppercase;
  margin: 0;
}
nav {
  width: 100%;
  background-color: #00A6B3;
  color: white;
  padding: 20px 20px;
}
a {
  font-family: 'Raleway', sans-serif;
  color: white;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 20px;
  border-bottom: 2px solid transparent;
}
h2 {
  font-family: 'Raleway', sans-serif;
  color: #0D2C40;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
}
p {
font-family: 'Droid Serif', serif;
line-height: 26px;
font-size: 20px;
}
img {
  margin: 40px 8px 0 8px;
}
a:hover {
border-color: white;
}
footer {
  text-transform: uppercase;
  padding: 0 20px;
  background-color: #0D2C40;
  color: white;
  font-size: 14px;
  letter-spacing: .08em;
  font-weight: 500;
}
.copyright {
  font-family: 'Raleway', sans-serif;
  float: left;
}
.message {
  font-family: 'Raleway', sans-serif;
  float: right;
}
.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}
.name {
  color: #F15B31;
  font-weight: 700;
}
#links {
